      .form {
      margin: 50px auto;
      width: 300px;
      padding: 30px 25px;
      background: white;
  }
  h1.login-title {
      color: #667;
      margin: 0px auto 25px;
      font-size: 25px;
      font-weight: 300;
      text-align: center;
  }
  .login-input {
      font-size: 15px;
      border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 25px;
      height: 25px;
      width: calc(100% - 23px);
  }
  .login-input:focus {
      border-color:#6e8095;
      outline: none;
  }
  .login-button {
      color: #fff;
      background: #55a1ff;
      border: 0;
      outline: 0;
      width: 100%;
      height: 50px;
      font-size: 16px;
      text-align: center;
      cursor: pointer;
  }
  .link {
      color: #666;
      font-size: 15px;
      text-align: center;
      margin-bottom: 0px;
  }
  .link a {
      color: #666;
  }
  h3 {
      font-weight: normal;
      text-align: center;
  }
  #myDIV{
      height: 300px;
      width: 300px;
      background-color:lightgray;
  }
  
  #mydiv {
      position: absolute;
      z-index: 9;
      background-color: #f1f1f1;
      border: 1px solid #d3d3d3;
      text-align: center;
    }
    
    #mydivheader {
      padding: 10px;
      cursor: move;
      z-index: 10;
      background-color: #2196F3;
      color: #fff;
    }
  
  
  body
  {
  }
  
  .cards
  {
      position: absolute;
      left: 2%;
      border-radius: 15px;
      background: #dae2e3;
      padding: 20px;
      width: 200px;
      height: 80px;
  }
  
  .cardsisDoing
  {
      position: absolute;
      /*left: 30%;*/
      border-radius: 15px;
      background: #dae2e3;
      padding: 20px;
      width: 200px;
      height: 80px;
  }
  
  .cardsisReview
  {
      position: absolute;
      /*left: 10%;*/
      border-radius: 15px;
      background: #dae2e3;
      padding: 20px;
      width: 200px;
      height: 80px;
  }
  
  .cardsisDone
  {
      position: absolute;
      /*left: 70%;*/
      border-radius: 15px;
      background: #dae2e3;
      padding: 20px;
      width: 200px;
      height: 80px;
  }
  
  
  .div1class
  {
      position: absolute;
    z-index: 9;
    border-radius: 15px;
      background: #dae2e3;
      padding: 20px;
      width: 200px;
      height: 80px;
  }
  
  #newcardButton
  {
      color: #fff;
      background: #55a1ff;
      border: 0;
      outline: 0;
      width: 80px;
      height: 50px;
      font-size: 10px;
      text-align: center;
      cursor: pointer;
      position: relative;
      left: 50%;
  }
  #myDIV
  {
      position:absolute;
      background-color: white;
      position: absolute;
      left: 40%;
  }
  .button
  {
      color: #fff;
      background: #55a1ff;
      border: 0;
      outline: 0;
      width: 80px;
      height: 50px;
      font-size: 10px;
      text-align: center;
      cursor: pointer;
  }
  #text 
  {
  position: relative;
  left: 60px;
  }